/.metadata/
/AulaFomatação_18-06/
/AulaMetodos_16-06/
/AulaVariaveis_14-06/
/JavaProject/.settings/
/JavaProject/bin/
/JavaProject/.classpath
/JavaProject/.project
/JavaProject/.gitignore

/MavenProject/.settings/
/MavenProject/target/
/MavenProject/.classpath
/MavenProject/.project

SpringProject/HELP.md
SpringProject/.gitignore
SpringProject/.classpath
SpringProject/.project
SpringProject/mvnw
SpringProject/mvnw.cmd
SpringProject/target/
SpringProject/.settings/
SpringProject/.mvn/